body {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', sans-serif;
    text-align: left;
    font-size: 24px;
    min-height: 100vh;
    padding-bottom: 20px;
    cursor: url('stuff/cursor.png'), default; /* Added cursor property */
}

h1 {
    display: block;
    font-size: 32px;
    font-weight: bold;
    color: #f2eecb;
}

h2 {
    display: block;
    font-size: 24px;
    font-weight: bold;
}

.coollinkz {
    list-style: none;
    padding: 0;
    display: inline;
    margin: 0;
}

.coollinkz li {
    display: block;
    line-height: 1.2;
}

.coollinkz a {
    color: white;
    text-decoration: none;
}

.coollinkz a:hover {
    border-bottom: 1px solid white;
}

.container {
    overflow: auto;
}

html {
    height: 100%; 
}

a, button, [role="button"], input[type="submit"], input[type="button"], .clickable {
    cursor: url('stuff/pointer.png'), pointer;
}
